{{define "all"}}SELECT p.id, p.name, p.price, p.stock FROM products p{{end}}
{{define "joinCategory"}}{{template "all" .}} JOIN categories c ON p.category_id = c.id{{end}}
{{define "withCategory"}}{{template "joinCategory" .}} AND c.name = ?{{end}}
